$mobileMinWidth: 320px;
$mobileMaxWidth: 600px;
$tabletMinWidth: 601px;
$tabletMaxWidth: 950px;
$smallDesktopMinWidth: 951px;
$smallDesktopMaxWidth: 1200px;
$largeDesktopMinWidth: 1201px;
$largeDesktopMaxWidth: 1450px;
